body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  background-color: #f0f0f0;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
}

.map {
  border: 1px solid black;
  flex-grow: 1;
  background-color: transparent;
}