<!doctype html>

<html>
  <head>
    <title>Simple Reactive Example with Vue.js</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <h1>Simple Reactive Example with Vue.js</h1>
    <main id="the-vue-container">
      <input type="number" placeholder="A0" v-model="a0"><br>
      <input type="number" placeholder="A1" v-model="a1"><br>
      <input type="number" placeholder="A2" v-model="a2"><br>
      <input type="number" placeholder="A3" v-model="a3" readonly> <!-- Should contain the sum of A1 and A2 -->

      <p>The new value of <code>a3</code> is {{ a3 }}.
        It was calculated by adding {{a0}}, {{ a1 }},
        and {{ a2 }}</p>
    </main>

    <script>
      const { createApp, ref, computed } = Vue;

      const app = createApp({
        setup() {
          const a0 = ref(10);
          const a1 = ref(1);
          const a2 = ref(2);
          const a3 = computed(() => {
            return a0.value + a1.value + a2.value;
          });

          return { a0, a1, a2, a3 };
        }
      });

      app.mount('#the-vue-container');
    </script>
</html>